@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container {
    width: 100%;
    min-height: 100vh;
    padding: 5%;
    background-image: linear-gradient(rgba(83, 90, 145, 0.212), rgba(53, 60, 110, 0.322)), url(./images/984392.jpg);
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

h1 {
    font-size: 40px;
    text-align: center;
    margin: 20px 0;
    color: #ffffff;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}

form {
    text-align: center;
}

.urlField {
    margin-top: 2vh;
    align-self: center;
    width: 100%;
    max-width: 11000px;
    background: rgba(46, 34, 34, 0.315);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
    backdrop-filter: blur(4px) saturate(80%);
}

.urlField input {
    background: transparent;
    flex: 5;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 24px;
    color: hwb(0 100% 0%);
}

::placeholder {
    color: #a6a4cc;
}

.urlField button img {
    width: 25px;
}

.urlField button {
    border: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: #95a1df27;
    cursor: pointer;
}

.urlField button:hover {
    transform: scale(1.2);
    transition: all 0.1s linear;
}

.container .dwd_btn {
    position: absolute;
    top: 85vh;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80px;
    width: 250px;
    background: #343249f3;
    border-radius: 60px;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.336);
    transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    overflow: hidden;
}

.dwd_btn {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    color: #ffffffd0;
    font-size: 30px;
    font-weight: 500;
}

.content button:hover {
    background: #7e7ab163;
    transition: 0.3s ease;
}

.preview {
    margin-top: 33px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 865px;
    height: 488px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    border: 2px dashed #fff;
}

.preview .image {
    height: 100%;
}

.social-links {
    position: absolute;
    top: 94%;
    right: 20px;
    display: flex;
}

.social-icon {
    width: 40px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    color: #000000;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.05);
    margin: 5px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease;
    background-color: #ffffff;
}

.social-icon:hover {
    transform: scale(1.4);
    transition: all 0.2s linear;
}

.social-icon.instagram {
    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
}

.social-icon.github {
    background-color: #7289da;
}

.social-icon.snapchat {
    background-color: #fffb00;
}

.social-icon.whatsapp {
    background: #1be770;
}

.error {
    color: red;
    margin-top: 10px;
}

@media screen and (max-width: 580px) {
    .container {
        width: 90%;
        padding: 15px;
    }

    /* Hide social icons on mobile */
    .social-links {
        display: none;
    }
}
