<!DOCTYPE html>
<html>
<head>
    <title>SASTA DOWNLOADER</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://kit.fontawesome.com/2a283bf6a0.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <h1>YouTube Video Downloader</h1>
        
        <form method="post">
            <div class="urlField">
                <input type="text" id="video_url" name="video_url" placeholder="Enter YouTube Video URL" required>
                <button type="submit" name="action" value="search" class="search-button"><img src="../static/images/search.png"></button>
            </div>
        </form>
    
        {% if thumbnail_url %}
        <div class="preview">
            <img src="{{ thumbnail_url }}" alt="Thumbnail" class="image" id="thumbnail" loading="lazy">
        </div>
        {% endif %}
    
        <!-- Download Button -->
        <div class="content">
            <button type="submit" name="action" value="download" class="dwd_btn">Download</button>
        </div>
    
        <!-- Social Links -->
        <div class="social-links">
            <a href="#" class="social-icon instagram"><i class="fab fa-instagram fa-2x"></i></a>
            <a href="#" class="social-icon discord"><i class="fab fa-discord fa-2x"></i></a>
            <a href="#" class="social-icon snapchat"><i class="fab fa-snapchat fa-2x"></i></a>
            <a href="https://wa.me/919162591726?text=Hello!" class="social-icon whatsapp"><i class="fab fa-whatsapp fa-2x"></i></a>
        </div>      
    
        <!-- Display error message if available -->
        {% if error_message %}
        <div class="error">{{ error_message }}</div>
        {% endif %}
    </div>
    
</body>
</html>
